body {
    background-color: blueviolet;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 100px;
}

.mypicture {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.quote {
    margin-top: 50px;

}

.myinfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: hotpink;
    margin-top: 200px;
}

.link1 {
    font-size: larger;
    border: 1px solid black;
    border-radius:5px;
    background-color: black;
}

.link2 {
    font-size: larger;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
}

.link3 {
    font-size: larger;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
}

.buttons {
    margin-top: 30px;
}
.button1 {
    color: white;
    border: 1px solid black;
    margin: 40px;
    padding: 10px;
    position: relative;
    animation: funlinks;
    animation-duration: 5s;
}

.button2 {
    color: white;
    border: 1px solid black;
    margin: 40px;
    padding: 10px;  
    position: relative;
    animation: funlinks;
    animation-duration: 5s;
}

.headerlogo {

}

.projects {

}
@keyframes funlinks {
    0% {top: -1000px}
    100% {top: 0px}
}